    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../components/styles/cards-styles.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        

            <div class="card">
        <div class="icon-section">
            <i class="fas fa-chart-line icon"></i>
        </div>
        <div class="content">
            <h2 class="title">Sales & Marketing</h2>
            <p class="description">
                <a href="#" class="link">Sales</a> and <a href="#" class="link">marketing</a> teams can drive and measure their impact with customers by connecting to their CRM and marketing systems to visually analyze data in Tableau.
            </p>
        </div>
    </div>
        
    </body>
    </html>
    
    
